@import "imports/links.css";
@import "imports/variables.css";
@import "imports/reset.css";

/* Just for the product.html and details.html*/

.manyProducts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thisProduct{
    background: lightblue;
    border: 3px solid; 
    padding: 20px;
    margin: 30px;
}
div.oneProduct{
  padding-left: 20px;
}
.allProducts h1{
  padding-left: 20px;
}

.search,
.categories,
.per-page{
  padding-left: 20px;
}

img {
  border: 2px solid lightblue;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}


.breadcrumb-nav{
  padding-left: 20px;
}

/* Common for all pages*/

.logo {
  grid-area: l;
}
.menu {
  grid-area: m;
}
.heading {
  grid-area: h;
}
.contact-block {
  grid-area: contact;
}
.social-networks {
  grid-area: social;
}
.newsletter {
  grid-area: newsletter;
}
.bottom-line {
  grid-area: bottom-line;
}
.logo > div {
  background-color: var(--background-color-logo);
  background-repeat: no-repeat;
  background-size: auto;
  width: 310px;
  height: 192px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 50;
  overflow: hidden;
  background-color: var(--background-color-ul);
}

li {
  float: left;
}

.heading {
  color: var(--text-color-heading);
  background-color: var(--background-color-heading);
  text-align: center;
}
.footer-container {
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
}

/******************************************* 

Making border lines for pedagogic reasons. 
This is a very useful way to visualize the
block model. 
Having turned on the border showing it all, 
combined with the development tool in the
browser is a good combination. 

********************************************/
/*
.logo,
.menu,
.heading,
.index-content,
.ind-cont-a,
.ind-cont-b,
.ind-cont-c,
.ind-cont-d,
.about-content1,
.about-content2,
.about-content3,
.about-content4,
.about-content5,
.about-content6,
.about-content7,
.about-content8,
.contact-content1,
.form1,
.first-name,
.last-name,
.product-content1,
.product-content2,
.product-content3,
.picture-jackets,
.text-women-jackets,
.pictures-women-jackets,
.gallery_img,
.wj4,
.jacket-specific-price,
.text-men-jackets,
.pictures-men-jackets,
.cta-order-jacket,
.grid-contact,
.grid-checkout,
.checkout-container,
.checkout-payment,
.checkout-confirm,
.checkout-address,
.grid-success,
.success-content1,
.bg-img,
.footer-container,
.contact-block,
.social-networks,
.newsletter,
.bottom-line,
.copyright,
.terms-of-use,
.legal {
  border: var(--border-layout-grids);
}
*/
