li a {
  display: block;
  color: #ffff;
  font-size: 20px;
  text-align: center;
  padding: 32px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--menu-color-hover);
}

.active {
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}
